// UI KIT
$color-primary: #102849;
$color-secondary: #a7c0da;
$color-tertiary: #6282a1;
$color-cuartiary: #0c2d49;

$color-cover: #deecf1;
$color-white: #ffffff;
$color-red: #bc2e2e;
$color-turquoise: #47bac7;
