@import "./colors";
@import "./fonts";
@import "./breakpoints";
.e-placeholder {
    &::-webkit-input-placeholder {
        color: inherit;
        opacity: 0.7;
        &::-moz-placeholder {
            color: inherit;
            opacity: 0.7;
        }
        &:-ms-input-placeholder {
            color: inherit !important;
            opacity: 0.7 !important;
        }
        &::-ms-input-placeholder {
            color: inherit;
            opacity: 0.7;
        }
        &::placeholder {
            color: inherit;
            opacity: 0.7;
        }
    }
}
.e-max-width {
    width: 100%;
    max-width: 1245px;
    margin: 0 auto;
}
.e-max-width-extra {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}
.e-full-width {
    width: 100%;
}
.e-full-height {
    height: calc(100vh - 60px);
}
.e-subtitle {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: $color-primary;
    margin: clamp(15px, 4vw, 20px) 0;
    padding: 0 1em;
    font-family: $font-primary;
    @media screen and (min-width: 500px) {
        font-size: 34px;
        line-height: 40px;
        padding: 0;
    }
}
.e-section-title {
    font-family: $font-primary;
    font-style: normal;
    font-weight: bold;
    font-size: clamp(36px, 4vw, 46px);
    line-height: clamp(24px, 4vw, 40px);
    text-align: center;
    color: $color-primary;
    margin-bottom: clamp(25px, 4vw, 60px);
}
.e-standar-button {
    max-width: 360px;
    height: 45px;
    @media screen and (min-width: $breakpoint-sm) {
        width: 196px;
    }
}
.e-standar-form-button {
    height: 45px;
    width: clamp(120px, 5vw, 190px);
    margin-right: 8px;
}
.e-standar-space {
    margin-top: 35px;
    margin-bottom: 35px;
}
.e-tas {
    text-align: start;
}
.fc-white {
    color: #fff;
}
.dpf {
    display: flex;
}
.fd-column {
    flex-direction: column;
}
.e-scroll-hidden {
    ::-webkit-scrollbar {
        display: none;
    }
}
@for $i from 1 through 200 {
    .fs-#{$i} {
        font-size: $i + px;
    }
}
@for $i from 1 through 200 {
    .pd-#{$i} {
        padding: $i + px;
    }
    .pdt-#{$i} {
        padding-top: $i + px;
    }
    .pdb-#{$i} {
        padding-top: $i + px;
    }
    .pdl-#{$i} {
        padding-top: $i + px;
    }
    .pdr-#{$i} {
        padding-top: $i + px;
    }
}
@for $i from 1 through 200 {
    .mg-#{$i} {
        margin: $i + px;
    }
    .mgt-#{$i} {
        margin-top: $i + px;
    }
    .mgb-#{$i} {
        margin-bottom: $i + px;
    }
    .mgl-#{$i} {
        margin-left: $i + px;
    }
    .mgr-#{$i} {
        margin-right: $i + px;
    }
}
